
{% extends 'base/base.html' %}

{% block content %}

<div class="row">
       <div class="col-md-12">
               <ol class="breadcrumb">
                       <li>
                               <a href="#">
                                       Inicio
                               </a>
                       </li>
                       <li class="active">
                               Listar
                       </li>
               </ol>
       </div>
</div>

<div class="row">
        <div class="col-md-12">
                <!-- start: DYNAMIC TABLE PANEL -->
                <div class="panel panel-white">
                        <div class="panel-heading">
                                <h4 class="panel-title">Editar <span class="text-bold">Paciente</span></h4>
                                <div class="panel-tools">
                                        <div class="dropdown">
                                                <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                                        <i class="fa fa-cog"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                                        
                                                       
                                                        <li>
                                                                <a class="panel-expand" href="#">
                                                                        <i class="fa fa-expand"></i> <span>Fullscreen</span>
                                                                </a>
                                                        </li>
                                                </ul>
                                        </div>
                                        <a class="btn btn-xs btn-link panel-close" href="#">
                                                <i class="fa fa-times"></i>
                                        </a>
                                </div>
                        </div>
                        <div class="panel-body">

                                <table class="table table-bordered">
                                       <thead>
                                               <tr>

                                                       <td>Nombre</td>
                                                       <td>Apellidos</td>
                                                       <td>Documento</td>
                                                       <td>Editar</td>

                                               </tr>

                                       </thead>
                                            <tbody>

                                                    {%for dato in datos %}

                                                        {% for paciente,historias in dato.items %}
                                                        <tr>

                                                            <td>{{ paciente.nombre}}</td>
                                                            <td>{{ paciente.apellidos }}</td>
                                                            <td>{{ paciente.Doc }}</td>



                                                            <td>
                                                               
                                                                    <a class="fa fa-edit" href="{% url 'paciente:paciente_editar' paciente.id %}">Editar</a>
                                                                    	</li>
															
                                                            </td>

                                                    </tr>

                                                    <td>
                                                    <div class="col-md-6">
                                                        <div class="panel panel-white">

                                                                


                                                            {% for historia in historias %}
                                                                    <a class="list-group-item" id="{{historia.id}}" name=""  value="{{historia.id}}" href="{% url 'historia:historia_mostrar' historia.id %}" ><i class="fa fa-book fa-fw"></i>&nbsp; {{historia.fecha_creacion}}</a>
                                                                                                                    

                                                            {% endfor %}

                                                                           
                                                                   </div>
                                                           </div>
                                                       
                                                 
                                                    </td>
                                                        {% endfor%}


                                                    {% endfor %}

                                                    <!--inicio-->

                                                    <div class="row">
                                                             <div class="col-md-12">
                                                                     <div class="col-md-3 col-sm-4 space20">
                                                                             <a class="btn btn-green show-sv" href="#example-subview-1">
                                                                                     Show Top Subview <i class="fa fa-chevron-up"></i>
                                                                             </a>
                                                                     </div>

                                                             </div>
                                                     </div>




                                                    <!--final-->


                                         </tbody>   
                               </table>


                        </div>
                                    </div>
                            </div>
                    </div>

						
{% block js %}
<script>
   function inicio(){
        
        var id = $('#list-group-item').attr("id");
        console.log(id);
    }
</script>

{% endblock %}


{% endblock %}